/*-------------------------------------------------------
Gallery
-------------------------------------------------------*/

/*
Add additional margin to the gallery block within post content.
*/

.wp-block-post-content :where(p, span[id^="more"]) + .wp-block-gallery:not([style*="margin-top"]) {
	margin-top: calc(var(--wp--style--block-gap) * 2);
}

.wp-block-post-content :where(p, .wp-block-heading, span[id^="more"]) + .wp-block-gallery:not([style*="margin-bottom"]):not(:last-child) {
	margin-bottom: calc(var(--wp--style--block-gap) * 2);
}
