/*-------------------------------------------------------
Post comments form
-------------------------------------------------------*/

.wp-block-comments > * + .wp-block-post-comments-form {
	margin-top: var(--wp--preset--spacing--60);
}

.comment + .wp-block-post-comments-form {
	margin-bottom: var(--wp--preset--spacing--30);
}

.wp-block-post-comments-form .comment-reply-title {
	margin-bottom: 0.5rem;
	font-size: var(--wp--preset--font-size--xx-large);
}

.comment-form .comment-notes,
.comment-form .logged-in-as {
	color: var(--wp--preset--color--contrast-3);
	font-size: var(--wp--preset--font-size--small);
}

.comment-form .logged-in-as a {
	color: var(--wp--preset--color--contrast-3);
}

.comment-form .logged-in-as a:hover,
.comment-form .logged-in-as a:focus,
.comment-form .logged-in-as a:active {
	color: var(--wp--preset--color--contrast);
	text-decoration: underline;
}

.wp-block-post-comments-form textarea {
	height: 8lh;
}

.wp-block-post-comments-form .comment-form-cookies-consent {
	align-items: baseline;
}

.wp-block-post-comments-form .comment-form-cookies-consent #wp-comment-cookies-consent {
	top: 0.1rem;
	margin: 0;
}

.comment-respond .form-submit {
	margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
	.comment-form-author,
	.comment-form-email {
		width: 49%;
		float: left;
		margin-bottom: var(--wp--style--block-gap);
	}

	.comment-form-author {
		margin-right: 2%;
	}

	.comment-form-url,
	.wp-block-post-comments-form .comment-form-cookies-consent {
		clear: both;
	}
}
